* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    background-color: beige;
}

h1 {
    text-align: center;
}

img {
    display: block;
    height: auto;
    width: 400px;
    margin-left:  auto;
    margin-right: auto;
}

p, li{
    font-size: 20px;
}

/* Styling home link at the bottom of the recipe pages */
.last-p{
    margin: 100px auto 100px auto;
    text-align: center;
    font-size: 15px;
}

.favourite{
    padding: 15px;
    border: 5px rgb(173, 107, 7) solid;
    margin: auto;
    width: 495px;
}

.button{
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    margin-left:10px;
    font-size: 20px;
}

